// Place all the styles related to the CogsList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
}

table {
  width: 100%;
  text-align: left;
}

table > tbody > tr {
  cursor: pointer;
  padding-bottom: 10px;
}

tr:hover {
  background: #cee8ef;
}

tr:focus {
  background: #ffc5aa;
}